<div class="col-sm-12 col-md-4" ng-repeat="project in projects">
  <div class="thumbnail">
    <img src="/images/project/mark-humphrey-dot-io/preview.png" alt="{{project.name}} preview">
    <div class="caption">
      <h3>{{project.name}}</h3>
      <p>{{project.description}}</p>
      <p>
        <a ui-sref="project-detail({id: project.id})" class="btn btn-primary" role="button">View Project</a>
        <a ng-href="https://github.com/markhumphrey/{{project.id}}/" class="btn btn-default" role="button">GitHub</a>
      </p>
    </div>
  </div>
</div>
