
a {
/*  color: $accent-color; */
}

body {
/*  font-family: Georgia, "Times New Roman", Times, serif; */
/*  color: $primary-color-text; */
/*  background-color: $primary-color-light; */
  }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  /* margin-top: 0; */
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-weight: normal; */
/*  color: #333;*/
}

.jumbotron {
  background-image: url(/app/static/images/home/laptop-splash.jpeg);
  background-size: cover;
  color: $primary-color-light;
  height: 400px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: $primary-color-dark;
  /* Causes the footer to appear extend to the bottom of the browser pane */
  box-shadow: 0px 500px 0px 500px $primary-color-dark;
}
