@import 'color';
@import 'bootstrap_overrides';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'base';
@import 'navbar';
@import 'carousel';
@import 'blog';
@import 'social';

/*
.starter-template {
  padding: 60px 15px;
  text-align: center;
}
*/
